/*Redefine the basics*/
BODY {
  background: url('images/bg-container.jpg') top center / contain no-repeat fixed;
}

A:link {
  color: #5C4F79;
}

A:hover {
  color: #9476BC;
}

#verv {
  color: #FF7800 !important;
}

/*Fonts*/
BODY {
  font-family: 'Open Sans', sans-serif;
  color: #424242;
}

H1, H2, H3, H4, H5, H6 {
  font-family: 'Amaranth', sans-serif;
}

/*Navigation*/
NAV.nav-primary {
  background: rgba(72, 62, 96, 0.85);
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  transition: ease;
  font-weight: 500;
}

BODY.logged-in NAV.nav-primary {
  top: 32px !important;
}

NAV.nav-primary A {
  color: #C8E0E0;
  text-transform: capitalize !important;
  letter-spacing: normal;
  padding: 1rem;
}

NAV.nav-primary LI.current-menu-item A, NAV.nav-primary A:hover {
  color: #D3E2B6;
}

.genesis-nav-menu .sub-menu A {
  background-color: rgba(49, 39, 74, 0.829);
  border: 1px solid #5C4F79;
  border-top: none;
}

.genesis-nav-menu .sub-menu A:hover {
  background-color: #5C4F79;
}

/*#justmobilethings*/
.responsive-menu-icon {
  color: #68B3AF;
}

/*Header*/
.site-header A {
  height: 225px;
}

/*Sidebar*/
ASIDE SECTION H4.widgettitle {
  text-transform: capitalize;
  font-size: 1.7rem;
}
